################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyBlog/.vs/MyBlog
/MyBlog/MyBlog.Presentation/bin/Debug/netcoreapp5.0
/MyBlog/MyBlog.Presentation/obj
/MyBlog/MyBlog.Presentation/bin/Debug/netcoreapp3.1
/MyBlog/MyBlog.BusinessLogicLayer/bin/Debug/net5.0
/MyBlog/MyBlog.BusinessLogicLayer/obj
/MyBlog/MyBlog.DataAccessLayer/bin/Debug/net5.0
/MyBlog/MyBlog.DataAccessLayer/obj
/MyBlog/MyBlog.Models/bin/Debug/net5.0
/MyBlog/MyBlog.Models/obj
/MyBlog/MyBlog.BusinessLogicLayer/bin/Debug/netcoreapp3.1
/MyBlog/MyBlog.DataAccessLayer/bin/Debug/netcoreapp3.1
/MyBlog/MyBlog.Models/bin/Debug/netcoreapp3.1
/MyBlog/MyBlog.BusinessLogicLayer/bin/Debug/netcoreapp5.0
/MyBlog/MyBlog.DataAccessLayer/bin/Debug/netcoreapp5.0
/MyBlog/MyBlog.Models/bin/Debug/netcoreapp5.0
/MyBlog/MyBlog.Common/bin/Debug/net5.0
/MyBlog/MyBlog.Common/obj
