################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyBlog/.vs/MyBlog
/MyBlog/MyBlog.Presentation/bin/Debug/netcoreapp5.0
/MyBlog/MyBlog.Presentation/obj
/MyBlog/MyBlog.Presentation/bin/Debug/netcoreapp3.1
