<div class="container-fluid category-intro">
    <div class="img-category">
        <img src="/images/logo/3797_DevBlogs_Python_hero2_DonBaker.png">
    </div>
    <div class="content-intro">
        <h1 class="intro-title">Microsoft Developer Blogs</h1>
        <p class="intro-text">Get the latest information, insights, announcements, and news from Microsoft.</p>
    </div>
</div>