@model IEnumerable<Post>
@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-9 p-0">
    @foreach (var item in Model)
    {
        <partial name="_PostOverview" model="@item"/>
    }
</div>


